<nav1></nav1>
<div class="tvBack">
  <div class="tvBox">
    <h2 class="epH">Look Up Episode Details</h2>
    
    <div class="tvBox2">
      <div>
        <label class="epH lbl">Season</label>
        <select ng-model="show.season" 
          ng-options="'Season ' + season.season for season in $ctrl.seasons"
          ng-change="change()"
          class="marLt select"
          >
        </select>
      </div>
      <div>
        <label ng-if="show.season.episodes" class="epH lbl">Episode</label>
        <select ng-if="show.season.episodes" 
          ng-model="show.ep"
          ng-options="'Episode ' + episode for episode in show.season.episodes"
          class="marLt select"
          >
        </select>
      </div> 
    </div>

    <br />

    <button ng-click="details()" class="dbtn">Details</button>

    <div ng-switch="result"> 
      <div ng-switch-when="true" class="flt">    
        <div class="epH lbl nwMar">Title:</div>
        <div class="font2">{{episode.Title}}</div>
        <div class="epH lbl nwMar">Episode Date:</div>
        <div class="font2">{{episode.Released}}</div>
        <div class="epH lbl nwMar">Plot:</div>
        <div class="font2">{{episode.Plot}}</div>
      </div>
      <div ng-switch-when="error" class="error">
        <div class="font2">Sorry! {{episode.Error}}</div>
        <div class="font2">Please select another episode.</div>
      </div>
      <div ng-switch-when="false">
        <span></span>
      </div>
    </div>

<!--   <pre>show = {{show | json}}</pre> -->
  </div>
</div>